<a href="https://colab.research.google.com/github/anurag0063/Python_data/blob/master/python_crash_course.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Some differences when compared to javascript

to the power operator (2 * 2 * 2) or 2^3

In [21]:
2 ** 3

8

Creating string literal. Use format method to assign values to the placeholder variables used in the string, for reference look at the cell 7

In [4]:
age = 28
name = "Anurag Singh"

In [7]:
print('{pname} is {page} years old today after {page} years.'.format(page = age, pname = name))

Anurag Singh is 28 years old today after 28 years.

**List** is same as **array** in javascript.

In [8]:
mylist = [1,2,3,[4, 5, ["target"]]]

In [11]:
print(mylist[3][2][0])

target

In [12]:
new_list = [1,2,3,4,5,6,7,8,9,10]

In [13]:
print(new_list[0:4])

[1, 2, 3, 4]

In [14]:
new_list[:4]

[1, 2, 3, 4]

In [18]:
new_list[4:8]

[5, 6, 7, 8]